.navStyle {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navLinkStyle {
    /* margin: 0px 10px; */
    color: #000;

    display: flex;
    align-items: center;
    gap: 4px;
}

.activeNavLinkStyle {
    color: #007bff;
    font-weight: bold;
}